version: "3.9"

services:
  fastapi-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ${APP_NAME}
    ports:
      - "${APP_PORT}:${APP_PORT}"
    volumes:
      - ./app:/app/app  # Mount app folder for live reload
    command: uvicorn app.main:app --host 0.0.0.0 --port ${APP_PORT} --reload
    restart: unless-stopped
    env_file:
      - .env
